<!-- view that is rendered after the data has been sent to the server, parsed and stored as a property in the 'request' object -->

<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      background: skyblue;
      font-family: verdana;
      color: #fff;
      padding: 30px;
    }
    
    h1 {
      font-size: 48px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
    }
    
    p {
      font-size: 16px;
      text-align: center;
    }

  </style>
</head>

<body>
  <% include partials/nav.ejs %>
    <h1>Contact us!</h1>
    <p>You contacted <%= data.who %> from the <%= data.department %> department.</p>
    <p>He'll be in touch as soon as possible at <%= data.email %>!</p>
</body>

</html>