<!DOCTYPE html>
<html>

<head>
  <!-- a request to '/assets/styles.css' is made -->
  <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>

<body>
  <!-- include the partial view for the navigation bar -->
  <%include partials/nav.ejs %>
    <h1>Welcome to my website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur accusantium at voluptatibus veritatis est quae temporibus quas error consequatur aperiam quidem cupiditate corrupti, explicabo nihil, delectus eaque. Provident nobis, sequi.</p>
</body>

</html>
